<div id="header">
  <div id="inner-head">
    <h1 id="logo">
	    <a href="@{Application.index}" onclick="javascript:void(0);">Life Trip</a>
    </h1>
    <div id="topbar">
          <ul id="bar-nav">
             <li><a href="#">随便看看</a></li>
          </ul>
          <ul id="bar-btn">
             <li><a href="#" class="btn btn-info" onclick="javascript:void(0);">登 录</a></li>
             <li><a href="@{Users.register()}" class="btn btn-info">注 册</a></li>
          </ul>
    </div>
  </div>
</div>